<ol class="breadcrumb">
  <li>Data Providers</li>
  <li>{{class.name}}</li>
</ol>

<div class="tab-content">
    {{#isTabEnabled navTabs "info"}}
    <div class="tab-pane fade {{#isInitialTab navTabs "info"}}active in{{/isInitialTab}}" id="c-info">

        {{#if class.description}}
            <p class="comment">
                <h3>{{t "description" }}</h3>
            </p>
            <p class="comment">
                {{{parseDescription class.description depth}}}
            </p>
        {{/if}}

        {{#if class.jsdoctags}}
            <p class="comment">
                <h3>{{t "example" }}</h3>
            </p>
            <div class="io-description">
                {{#jsdoc-code-example class.jsdoctags}}
                    {{#each tags}}
                        <div>
                            {{{comment}}}
                        </div>
                    {{/each}}
                {{/jsdoc-code-example}}
            </div>
        {{/if}}

        {{#if class.properties}}
            {{> block-property properties=class.properties file=class.file }}
        {{/if}}
        
        {{#if class.accessors}}
            {{> block-accessors accessors=class.accessors file=class.file }}
        {{/if}}

        {{#if class.methods}}
            {{> block-method methods=class.methods file=class.file }}
        {{/if}}
    </div>
    {{/isTabEnabled}}

    {{#isTabEnabled navTabs "readme"}}
    <div class="tab-pane fade {{#isInitialTab navTabs "readme"}}active in{{/isInitialTab}}" id="c-readme">
        <p>{{{class.readme}}}</p>
    </div>
    {{/isTabEnabled}}

    {{#isTabEnabled navTabs "source"}}
    <div class="tab-pane fade {{#isInitialTab navTabs "source"}}active in{{/isInitialTab}} tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">{{ class.sourceCode}}</code></pre>
    </div>
    {{/isTabEnabled}}
</div>
